<%- include('partials/header') %>

    <main class="main-content">
        <section class="intro">
            <h1>Welcome to the TechnoLab Marketplace!</h1>
            <p>Explore a bunch of unique 3D printed items, perfect for everything. From custom designs to cool gadgets, find something special today!</p>
            <button class="button-home" onclick="window.location.href='/items'">
                Start Browsing
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17l-1-1 4-4H7v-2h9l-4-4 1-1 6 6-6 6z"/>
                    </svg>
                </span>
            </button>
            
            
            
        </section>

        <section class="features">
            <div class="feature-card">
                <img src="images/unique.png" alt="Feature 1">
                <h3>Unique Designs</h3>
                <p>Discover one-of-a-kind designs that you won’t find anywhere else.</p>
            </div>
            <div class="feature-card">
                <img src="images/qualityprints.png" alt="Feature 2">
                <h3>Quality Prints</h3>
                <p>Only the highest quality 3D prints, ensuring durability and precision.</p>
            </div>
            <div class="feature-card">
                <img src="images/shipping.png" alt="Feature 3">
                <h3>Fast Shipping</h3>
                <p>Get your items quickly with our fast and reliable shipping options.</p>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>

