<%- include('partials/header') %>

    <main>
        <div class="form-container">
            <div class="form-intro">
                <img src="/images/logo.png" alt="Item 1" class="item-image">
                <h2>Sell Your Stuff</h2>
                <p>Turn your 3D printed items into cash. It's quick and easy!</p>
            </div>
            <div class="form-details">
                <form action="/items/new" method="POST" enctype="multipart/form-data">

                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>


                    <div class="dropdown-container">
                        <div class="dropdown">
                            <label for="condition">Condition:</label>
                            <select id="condition" name="condition" required>
                                <option value="" disabled selected>Select a condition</option>
                                <option value="New">New</option>
                                <option value="Like-New">Like New</option>
                                <option value="Good">Good</option>
                                <option value="Fair">Fair</option>
                                <option value="Poor">Poor</option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <label for="category">Category:</label>
                            <select id="category" name="category" required>
                                <option value="" disabled selected>Select a category</option>
                                <option value="PLA">PLA</option>
                                <option value="ABS">ABS</option>
                                <option value="PETG">PETG</option>
                                <option value="Nylon">Nylon</option>
                                <option value="TPU">TPU</option>
                            </select>
                        </div>
                    </div>
              
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" step="0.01" required>
                    
                    <label for="info">Details:</label>
                    <textarea id="info" name="details" required minlength="10"></textarea>
                    
                    <label for="image">Image:</label>
                    <input type="file" id="image" name="image" required>
                    
                    <button class="button-home" type="submit">
                        Submit Item
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
                                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-10S17.52 2 12 2zm1 17l-1-1 4-4H7v-2h9l-4-4 1-1 6 6-6 6z"/>
                            </svg>
                        </span>
                    </button>
                </form>
                
            </div>
        </div>
    </main>
    
    <%- include('partials/footer') %>

