<%- include('../partials/header') %>
<% console.log(messages); %> 

<main>
    <div class="signup-form-container">
        <h1>Sign Up</h1>
          
        <form action="/users/new" method="POST">
            <div class="signup-form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div class="signup-form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div class="signup-form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="signup-form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="signup-button">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/users/login">Login here</a>.</p>
        
    </div>
</main>
<%- include('../partials/footer') %>
